
.spector-field-label {
	
}

.spector-field-value {
	
}

.form-item-type,
.form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 10em;
}

#spector-filter-form .form-type-select {
	float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 10em;
}

#spector-filter-form .form-type-select select {
  width: 100%;
}
#spector-filter-form .form-actions {
  float: left;
  padding: 3ex 0 0 1em;
}